/*General Settings*/
html {
    scroll-behavior: smooth;
}

font-face {
    font-family:'OS Luizi Round_FFC';
}

font-face {
    font-family:'Rubik';
}

a:focus {
    border: 3px solid black;
}

body {
    padding-top: 30px;
    direction: rtl;
    font-family: Rubik;
    margin: 0 auto;
    background-color: #f2e4e4;
}

#container {
    width: 1280px;
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
}

/*header & nav Bar settings*/

header {
    margin-right:45px;
}

#skipContent, skipContent:visited {
    z-index: 20;
    position: absolute;
    width: 0px;
    text-align: center;
    height: 0px;
    color: black;
    overflow: hidden;
    font-size: 18pt;
    margin: 0px -255px;
}

    #skipContent:focus {
        z-index: 21;
        overflow: visible;
    }

#logoPic {
    float: right;
    width: 15%;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.tabs {
    padding-top: 80px;
}

.tabs ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
}

.tabs ul li {
    margin-right: 15px;
    display: inline-block;
    float: right;
    background-color: #f2dada;
    border-radius: 20px;
    width: 125px;
    text-align: center;
    color: black;
    height: 20px;
    padding: 3px;
}

.tabs ul li a {
    text-decoration: none;
    list-style: none;
    color:black;
}

    .tabs ul li:hover {
        background-image: url('../images/imagesHomePage/emptyTab.svg');
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .tabs ul #placeTab {
        background-image: url('../images/imagesHomePage/emptyTab.svg');
        background-repeat: no-repeat;
        background-position: center;
    }


.notActive:hover {
    cursor: not-allowed;
    color: gray;
}

/*video Settings*/ 

video {
    width: 1281px;
    margin-top: -50px;
    position: relative;
    z-index: 0;
}

#enterSnc {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: -500px;
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
}

#arrow {
    height: 5%;
    width: 5%;
    margin-right: 47.5%;
    margin-top: -400px;
    margin-bottom: 75px;
    position: relative;
    z-index: 1;
}

/*content settings*/

iframe {
    box-shadow: 0px 4px 11px #888888;
    margin-top:-40px;
    border-radius:40px;
    height:720px;
    width: 1280px;
}

h1 {
 font-family: 'OS Luizi Round_FFC';
 text-align: center;
 font-family: 'OS Luizi Round_FFC';
 font-size: 60px;
}

#placesSec {
    text-align: center;
    font-size: 30px;
    line-height: 1.5cm;
}

h2 {
    text-align: center;
    font-family: 'OS Luizi Round_FFC';
    font-size: 55px;
}

h3 {
    font-family: 'OS Luizi Round_FFC';
    font-size: 40px;
}

span {
    color: #d85656;
}

.placesKinds {
    height: 243px;
    width: 100%;
}

.placesKinds div {
    display: inline-block;
    background-repeat: no-repeat;
    height: 100%;
    width: 17%;
    margin: 17px;
}

.placesOptions p {
    display: inline;
    width: 17%;
    padding: 75px;
    text-align: center;
    font-family: Rubik;
    font-size: 30px;
    line-height: 1.5cm;
}

#forest {
    background-image: url('../images/imagesMikumim/banners/SVG/forestB.svg');
}

    #forest:hover, #forest:focus {
        background-image: url('../images/imagesMikumim/banners/SVG/forestH.svg');
    }

  
#parks {
    background-image: url('../images/imagesMikumim/banners/SVG/parksH.svg');
}

    #parks:hover, #parks:focus {
        background-image: url('../images/imagesMikumim/banners/SVG/parksB.svg');
    }

#tazpiot {
    background-image: url('../images/imagesMikumim/banners/SVG/tazpiotB.svg');
}

    #tazpiot:hover, #tazpiot:focus {
        background-image: url('../images/imagesMikumim/banners/SVG/tazpiotH.svg');
    }

#water {
    background-image: url('../images/imagesMikumim/banners/SVG/waterB.svg');
}

    #water:hover, #water:focus {
        background-image: url('../images/imagesMikumim/banners/SVG/waterH.svg');
    }

#beaches {
    background-image: url('../images/imagesMikumim/banners/SVG/beachB.svg');
}

    #beaches:hover, #beaches:focus {
        background-image: url('../images/imagesMikumim/banners/SVG/beachH.svg');
    }

#sentence {
    height: 220px;
    width: 100%;
    margin:auto;
    position:relative;
}
    #sentence #pas {
        height: 170px;
        width: 120%;
        background-size:80%;
        margin-top:100px;
        margin-right:-280px;
        position: relative;
        background-image: url('../images/imagesMikumim/banners/sentences/emptyBanner.png');
        background-repeat: no-repeat;
    }

.placesLine {
    position:relative;
    margin:60px;
    margin-bottom:-60px;
}
.placesLine li {
    list-style: none;
    display: inline-block;
    padding-right: -5px;
    padding-left: -5px;
}

.zir {
    background-image: url('../images/imagesMikumim/zir.png');
    background-repeat: no-repeat;
    background-size: 900px;
    width: 100%;
    height: 150px;
    margin-right: -220px;
    position: relative;
    z-index:0;
    
}

.inst {
    text-align:center;
    font-size: 20px;
}

.backPlaces {
    max-width: 1050px;
    margin: 0 auto;
    background-size: 1180px;
    margin-bottom: 100px;
    padding: 10px 60px;
    background-repeat: no-repeat;
    background-image: url('../images/imagesMikumim/background.png');
}


/*General Gallery Settings*/
.container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: auto;
    color: black;
    font-size: 30px;
    font-family: 'OS Luizi Round_FFC';
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

.prev {
    float: right;
    border-radius: 3px 0 0 3px;
    position: relative;
}

.next {
    float: left;
    border-radius: 3px 0 0 3px;
    position: relative;
}

    .prev:hover, .prev:focus,
    .next:hover, .prev:focus {
        font-weight:bold;
        font-size: 35px;
    }

.active:hover, .active:focus {
    opacity: 1;


}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Gallery 1 Forests */

.mySlidesForest {
    display: none;
    position: relative;
    font-family: Rubik;
    font-size: 18px;
    padding: 10px 20px;
}

    .mySlidesForest img {
        height: 370px;
        margin-left: 100px;
        position: absolute;
        left: 0;
        margin-top: -360px;
    }

/* Gallery 2 Parks */

.mySlidesPark {
    display: none;
    position: relative;
  font-family:Rubik;
    font-size: 18px;
    padding: 10px 20px;
}

    .mySlidesPark img {
        height: 370px;
        margin-left:100px;
        position: absolute;
        left: 0;
        margin-top:-360px;
    }

/* Gallery 3 Tazpiot */

.mySlidesMizpe {
    display: none;
    position: relative;
    font-family: Rubik;
    font-size: 18px;
    padding: 10px 20px;
}

    .mySlidesMizpe img {
        height: 370px;
        margin-left: 100px;
        position: absolute;
        left: 0;
        margin-top: -360px;
    }

/* Gallery 4 Mekorot Maim */

.mySlidesMaim {
    display: none;
    position: relative;
    font-family: Rubik;
    font-size: 18px;
    padding: 10px 20px;
}

    .mySlidesMaim img {
        height: 370px;
        margin-left: 100px;
        position: absolute;
        left: 0;
        margin-top: -360px;
    }

/* Gallery 5 Hofim */

.mySlidesHofim {
    display: none;
    position: relative;
    font-family: Rubik;
    font-size: 18px;
    padding: 10px 20px;
}

    .mySlidesHofim img {
        height: 370px;
        margin-left: 100px;
        position: absolute;
        left: 0;
        margin-top: -360px;
    }


/*footer settings*/

footer {
    width: 1280px;
    margin-bottom: 100px;
    margin-right: 100px;
   
}

.logoFooter {
    width: 100px;
    display: block;
}

.nav_footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    width: 360px
}

.footerNavRight li {
    list-style: none;
    display: inline-block;
}

li {
    font-family: Rubik;
}

a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}

ul p {
    font-family: Rubik;
}

#endPage {
    text-align: center;
    float: right;
    font-weight: bold;
}

#arrowEndPage {
    width: 20px;
    transform: rotate(180deg);
}


/*Pop up Sentences*/

#forestHide {
    display: none;
}

#forest:hover #forestHide {
    display: block;
    position: absolute;
    z-index: 1;
    width: 800px;
    margin-top: 380px;
    font-family: 'OS Luizi Round_FFC';
    font-weight: 400;
    font-size: 30px;
    margin-right: 450px;
}

#parksHide {
    display: none;
}

#parks:hover #parksHide {
    display: block;
    position: absolute;
    z-index: 1;
    width: 800px;
    margin-top: 380px;
    font-family: 'OS Luizi Round_FFC';
    font-weight: 400;
    font-size: 30px;
    margin-right: 200px;
}

#tazpiotHide {
    display: none;
}

#tazpiot:hover #tazpiotHide {
    display: block;
    position: absolute;
    z-index: 1;
    width: 800px;
    margin-top: 380px;
    font-family: 'OS Luizi Round_FFC';
    font-weight: 400;
    font-size: 30px;
    margin-right: -20px;
}

#waterHide {
    display: none;
}

#water:hover #waterHide {
    display: block;
    position: absolute;
    z-index: 1;
    width: 800px;
    margin-top: 380px;
    font-family: 'OS Luizi Round_FFC';
    font-weight: 400;
    font-size: 30px;
    margin-right: -370px;
}

#beachesHide {
    display: none;
}

#beaches:hover #beachesHide {
    display: block;
    position: absolute;
    z-index: 1;
    width: 800px;
    margin-top: 380px;
    font-family: 'OS Luizi Round_FFC';
    font-weight: 400;
    font-size: 30px;
    margin-right: -520px;
}
